body{
    background-color: antiquewhite;
    
}

.container{
    margin: auto;
width: 50%;
padding: 10%;
}

.cal input{
    padding: 5px;
    padding-right: 120px;
    margin-bottom: 5px;
  
}

.cal .btns button {
    width: 32%;
    box-sizing: border-box;

    float: left;
}